[Unit]
Description=Count number of boots

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bootcounter-increment

[Install]
WantedBy=multi-user.target
